<div class="center jumbotron">
  <h1>アジアの日本人のための交流サイト</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to "著者ブログはこちら", "https://journey2tomorrow.wordpress.com/" %>